* {
  box-sizing: border-box;
}
html,
body {
  padding: 0;
  margin: 0;
}
div {
  margin: 0;
  padding: 0;
}
.margin-top-20 {
  margin-top: 20px;
}
.line-1px {
  border-top: 1px solid #f6f7fb;
  margin: 10px;
}
.font-lighter {
  font-weight: lighter;
}
.font-bolder {
  font-weight: bolder;
}

.el-table td,
.el-table th {
  padding: 0 !important;
}
.el-scrollbar__wrap {
  overflow-x: hidden !important;
}
